@using Markdig

@model App

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <a asp-controller="Downloads" asp-action="ViewApp" asp-route-appName="@Model.Name">@Model.Name</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.LatestVersion</h6>

        <p class="card-text">
            @Html.Raw(Markdown.ToHtml(Model.Description))
        </p>

        <a class="btn btn-outline-success card-link" role="button" asp-controller="Downloads" asp-action="Download" asp-route-appName="@Model.Name">Download</a>

        <a class="card-link" href="@Model.GitHubUrl" target="_blank">Further Details</a>
    </div>

    <div class="card-footer text-muted">
        Released @Model.LastUpdated.ToString("F")
    </div>
</div>